<footer class="mod-pageFooter"><div class="mod-pageFooterInner">
	<aside class="mod-pageInfo">
		<h1>Author</h1>
		<div class="mod-pageInfo-authorImage">
			<img src="{{ site.baseurl }}assets/img/img.jpg" alt="" width="80" height="80">
			<img src="{{ site.baseurl }}assets/img/mvp.png" alt="Microsoft MVP" width="40" height="64">
		</div>
		<div class="mod-pageInfo-text">
			<p>Akihiro Oyamada (a.k.a yomotsu) </p>
			<p>ウェブフロントエンドエンジニア。Microsoft MVP for Internet Explorer 2011, 2012。CSS3, SVG, WebGL など表現に関する Web 技術を日々研究中。</p>
			<p>執筆や講演の履歴など、<a href="/profile/">さらに詳細な情報は Profile をお読みください</a>。</p>
			<hr>
			<p>ご意見ご感想や、執筆、講演などのご相談は<a href="/inquiry/">お問い合わせフォーム</a>へ。<br>Web 制作のご相談は info@pxgrid.com へ。</p>
		</div>
	</aside>
	<aside class="mod-social">
		<h1>Find Me!</h1>
		<ul>
			<li><a href="http://www.facebook.com/akihiro.oyamada/">Facebook</a></li>
			<li><a href="https://twitter.com/yomotsu/">Twitter</a></li>
			<li><a href="https://github.com/yomotsu/">GitHub</a></li>
		</ul>
	</aside>
	<aside class="mod-aside">
		<h1>Subscribe to this Blog!</h1>
		<ul>
			<li><a href="{{ site.baseurl }}blog/feed.xml">Facebook</a></li>
		</ul>
	</aside>
</div></footer>